.contact {
    color: white;
    height: 120vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact h1 {
    text-align: center;
}

.contact .email a {
    text-decoration: none;
}

.contact .links {
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    position: relative;
    z-index: 2;
    background-color: transparent;
    height: 80px;
    width: 100%;
    padding: 0 10px;
}

.contact .links a {
    padding: 20px;
}

.contact .links a {
    color: #29dfff;
    display: block;
    width: 80px;
    height: 50px;
    position: relative;
}

.contact .links a:hover {
    cursor: pointer;
}

.contact .links a:hover i {
    color: white;
}