.contact {
    height: 120vh;
    font-size: 1.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact h1 {
    text-align: center;
    margin: 0 0 2rem;
}

.email {
    text-align: center;
    margin: 1rem 0 0.75rem;
}

.email a {
    text-decoration: none;
    color: white;
    display: flex;
    align-items: center;
}

.links {
    margin-top: 0rem;
    display: flex;
    justify-content: center;
    z-index: 2;
    background-color: transparent;
    height: 50px;
}

.email, .links {
    max-width: 400px;
}

.link-box {
    background-color: var(--color-primary);
    width: 100%;
    display: flex;
    align-items: center;
    margin: 0 0.25rem;
    padding: 0.5rem;
    transition: background-color var(--transition-sm);
}

.link-box:hover {
    background-color: var(--color-primary-focused);
}

.link-box svg, .email svg {
    height: 35px;
    width: 45px;
    fill: black;
}

.email svg {
    fill: white;
}

.text {
    color: black;
    flex-grow: 1;
    line-height: 1;
    text-align: center;
}

.links a:hover {
    cursor: pointer;
}

@media screen and (max-width: 600px) {
    .email {
        font-size: 1.1rem;
        font-weight: 500;
    }
}