
.home {
    position: relative;
    height: 100vh;
    overflow-x: hidden;
    background-color: #000;
}

.homepic {
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 1;
    transition: transform var(--transition-sm) ease-out;
    filter: blur(0rem) opacity(0.25) grayscale(0.2);
    overflow: hidden;
}

.homepic video {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.home-content {
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 2;
}

.hello-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}


.hello {
    visibility: hidden;
    text-align: center;
    padding: 1.5rem;
    color: white;
    margin: 0 auto;
    font-weight: 100;
    font-size: 2.5rem;
    transition: opacity 1.5s;
}


.hello .glow {
    color: #29dfff;
    font-weight: 300;
}

.hello:after {
    display: none;
}

.flex {
    display: flex;
}

@media screen and (max-width: 600px) {
    .hello-container {
        justify-content: flex-start;
    }
    .hello {
        text-align: left;
        margin: 0;
    }

    .flex {
        flex-direction: column;
    }
}