.navbar {
    position: fixed;
    top: 0;
    z-index: 2;
    background-color: transparent;
    height: 80px;
    width: 100%;
}

.nav-background {
    visibility: hidden;
    position: absolute;
    background-color: #111;
    width: 100%;
    height: 100%;
    box-shadow: 0 10px 12px 2px #0003;
}

.nav-content {
    opacity: 0;
    display: flex;
    position: relative;
    justify-content: flex-end;
    align-items: center;
    max-width: 1200px;
    padding: 0 1rem;
    margin: 0 auto;
    height: 100%;
    z-index: 3;
}

.nav-content > a {
    padding: 20px;
    color: white;
    cursor: pointer;
}

.logo {
    margin-right: auto;

}

.logo svg, .mobile-logo svg {
    width: 50px;
    height: 50px;
}

.hamburger-container, .mobile-logo {
    /* position: fixed;
    top: 0;
    right: 0; */
    z-index: 4;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.hamburger-container {
    padding-top: 5px;
    padding-right: 2%;
}

/* .mobile-logo {
    right: unset;
    left: 0;
} */

.hamburger-container svg {
    width: 30px;
    height: 30px;
    stroke: #0008;
    stroke-width: 100px;
    fill: white;
}


@media screen and (max-width: 600px) {
    .navbar {
        padding: 1rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .logo {
        margin-right: unset;
    
    }

    .nav-content {
        font-size: 1.5rem;
        background-color: #111;
        position: fixed;
        top: 0;
        left: 0;
        height: 100vh;
        width: 100vw;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}