.navbar {
    position: fixed;
    top: 0;
    z-index: 2;
    background-color: transparent;
    height: 80px;
    width: 100%;
}

.nav-background {
    position: absolute;
    background-color: #111;
    width: 100%;
    height: 100%;
    box-shadow: 0 10px 12px 2px #0003;
}

.nav-content {
    opacity: 0;
    display: flex;
    position: relative;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 0 5rem;
    z-index: 3;
}

.nav-content > a {
    padding: 20px;
    color: white;
    cursor: pointer;
}

.hamburger-container {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 4;
    display: flex;
    padding: 2rem;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.hamburger-container svg {
    width: 30px;
    height: 30px;
    stroke: #0008;
    stroke-width: 100px;
    fill: white;
}


@media screen and (max-width: 600px) {
    .nav-content {
        font-size: 1.5rem;
        background-color: #111;
        height: 100vh;
        width: 100vw;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}