.project {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row-reverse;
    padding: 5rem 0;
}

/* .project:first-child {
    padding-top: 0;
} */

.project:last-child {
    padding-bottom: 0;
}

.project:nth-child(odd) {
    flex-direction: row;
}

.project:first-child {
    margin-top:0;
    padding-top: 0;
}

.project:nth-child(odd) .desc-container {
    text-align: right;
    margin: 0 0 0 -20%;
}

.project:nth-child(odd) .image-container {
    text-align: right;
}

.project:nth-child(odd) .desc-container .techs {
    justify-content: flex-end;
}

.image-container {
    width: 50%;
    height: 100%;
    position: relative;
    overflow: hidden;
    transition: transform 0.3s;
}

.image-container:hover {
    transform: translateY(-5px);
}

.image-container img {
    position: relative !important;
}

.desc-text-container {
    overflow: hidden;
}


.desc-container {
    width: 50%;
    margin: 0 -20% 0 0;
    font-size: 1rem;
}

.desc-container .desc-title {
    font-size: 1.5rem;
    padding: 0.5rem;
}

.desc-text {
    padding: 1rem;
    background-color: #223d;
    backdrop-filter: blur(6px);
}

.desc-text p {
    margin: 0;
}

.techs {
    margin-bottom: 0.5rem;
    font-size: 0.8rem;
    display: flex;
    list-style: none;
    padding: 0;
}

.project .desc-container .techs li {
    margin: 0.5rem;
}

.desc-links a {
    padding: 0.1rem 0.5rem;
    background-color: var(--color-primary);
    font-weight: 500;
    color: black;
    margin: 0 0.1rem;
    transition: background 0.3s;
}

.desc-links a:hover {
    background-color: var(--color-primary-focused);
}

@media screen and (max-width: 600px) {
    .project {
        display: block;
    }
    .desc-container {
        /* position: absolute; */
        font-size: 0.9rem;
        width: 100%;
        margin: 0 auto;
    }

    .project:nth-child(odd) .desc-container {
        margin: 0 auto;
        text-align: left;
    }

    .project:nth-child(odd) .desc-container .techs {
        justify-content: flex-start;
    }

    .image-container {
        width: 100%;
    }
}