.triangles-container {
    position: absolute;
    overflow: hidden;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.triangle {
    position: absolute;
}

.triangle:nth-child(odd) {
    right: 0
}


.triangle svg {
    width: 400px;
    height: 400px;
}

.triangle svg path {
    stroke-width: 0.06px;
    fill: #0000
}


@media screen and (max-width: 600px) {
    .triangle svg {
        height: 300px;
        width: 300px;
    }

    .triangle svg path {
        stroke-width: 0.06px;
        fill: #0000
    }
}